@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#playnow{
    text-align: center;
    color: rgb(56, 69, 79);
   margin: 20px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px rgb(43, 52, 60);
}

.games{
    
   
    align-content: center;
    text-align: center;
    gap:10px;
  
}

.container1{
   display: grid;
    grid-template-columns: 1fr 4fr 1fr;
   
}


.slajder{
    
    grid-column-start: 2;
    grid-column-end: 3;
    width: 80%;
    padding-left: 27%;
    padding-top:3% ;
    padding-bottom:3% ;
    
} 

#tictac,#memory,#typing,#rps{
    width: 100%;
}

/* .menu{
    padding:10%;
} */

